<section id="transition-on-hover" class="animate-things-wrapper">
    <div id="box" class="box">
        Hi there
    </div>
</section>

<script src="{{ path '/js/components/transition-on-hover.js' }}"></script>
