<section id="waapi-transform-ordering-2" class="animate-things-wrapper-b">
    <div id="mains">
        <div id="box" class="box">
            Translate -> Rotate -> Scale
        </div>

        <div id="box2" class="box">
            Scale -> Translate -> Rotate
        </div>

        <div id="box3" class="box">
            Scale -> Rotate -> Translate
        </div>
    </div>

    <div id="ghosts">
        <div class="ghostBox">
            A
        </div>

        <div class="ghostBox">
            B
        </div>

        <div class="ghostBox">
            C
        </div>
    </div>

    <div class="controls">
        <button id="trigger">Play</button>
        <button id="pause">Pause</button>
        <button id="reset">Set to start point</button>
        <button id="halfway">Set to midway point</button>
        <button id="end">Set to end point</button>

        <input type="range" id="scrubber" name="scrubber"
               min="0" max="1" step="0.01">
    </div>
</section>

<script src="{{ path '/js/components/waapi-transform-ordering-2.js' }}"></script>
