<section id="css-keyframes-fill-forward" class="animate-things-wrapper">
    <button id="trigger">Trigger</button>

    <div id="box" class="box">
        Hi there
    </div>
</section>

<script src="{{ path '/js/components/css-keyframes-fill-forward.js' }}"></script>
