<section id="waapi-delays" class="animate-things-wrapper">
    <div class="controls">
        <button id="trigger">Play</button>
    </div>

    <div id="box" class="box">
        Hi there
    </div>

    <div id="box2" class="box">
        Hello here
    </div>

    <div id="box3" class="box">
        Yo ho ho everywhere
    </div>
</section>

<script src="{{ path '/js/components/waapi-delays.js' }}"></script>
