<section id="waapi-rewind" class="animate-things-wrapper">
    <div class="controls">
        <button id="trigger">Play</button>
        <button id="rewind">Reverse It</button>
        <span>Going: <span id="dir">Forwards</span></span>
    </div>

    <div id="box" class="box">
        Hi there
    </div>
</section>

<script src="{{ path '/js/components/waapi-rewind.js' }}"></script>
