<section id="transition-end-event-trigger-something-else" class="animate-things-wrapper">
    <button id="trigger">Trigger</button>

    <div id="triggerOne" class="box transition-trigger-box-one">
        To the left!
    </div>

    <div id="triggerTwo" class="box transition-trigger-box-two">
        To the right!
    </div>
</section>

<script src="{{ path '/js/components/transition-end-event-trigger-something-else.js' }}"></script>
