<section class="animate-things-wrapper intersection-observer">
    <div class="text">
        <p>Illo veniam sequi dolor. Quibusdam corporis earum expedita similique ad necessitatibus enim. Ducimus temporibus sed odio eligendi. Ad velit non qui.</p>
        <p>Dolor neque recusandae eos commodi. Commodi quis corporis consequatur et voluptatem voluptas ut esse. Eveniet et voluptatibus et dolorum harum nemo porro consequatur. Dolorum qui dolorem numquam deleniti est dolores optio voluptatibus. Suscipit consequatur quos non quas. Eos quo harum reprehenderit velit.</p>
        <p>Ut magni id necessitatibus. Optio aperiam eos hic voluptas beatae ratione deserunt fugiat. Et officiis magnam rerum non aut porro ut corrupti.</p>
        <p>Tenetur architecto vel voluptates voluptate ut veniam recusandae. Molestiae rerum totam nulla et vitae doloribus voluptas. Eius sed in eum vel est. Eum quo accusantium totam deserunt ad ut. Vero totam aut molestias.</p>
        <p>Ea illo doloribus occaecati. Nihil sed nemo non quas laudantium. Facere totam ut commodi mollitia iste et expedita. Voluptatem laudantium corrupti rerum corrupti voluptas aut.</p>
        <p>Dolores amet reprehenderit impedit. Aut expedita sint libero consequatur est libero. Rerum qui repellendus id dolore odio enim deserunt. Illo in non amet doloribus sit et. Placeat molestias odit quasi nam quia.</p>
        <p>Tenetur autem aperiam dolor. Tenetur dolor vel eos sit. Molestiae sit quo iure est. Non tempore occaecati hic consequuntur ipsa voluptas.</p>
        <p>Maiores velit suscipit sint fugit illo. Ut eos asperiores quia. Quo a sit eum quisquam. Nisi rerum dolorem tenetur exercitationem eos aliquid.</p>
        <p>At dolor odit ut dolor aliquam corporis officia. Eveniet et inventore quas nostrum omnis. Praesentium fugiat eum aspernatur similique temporibus vitae quod. Id qui vel nesciunt enim fugiat.</p>
        <p>Aperiam illum aliquam sit aliquam et error. Expedita minima et eum deleniti hic quia. Deserunt alias porro est et aut est temporibus sunt. Quia eveniet et non sunt tempore. Ducimus eum fuga debitis dolor sunt maiores. Iure facilis ut et veniam sequi.</p>
    </div>

    <div id="box" class="box">
        Observe me change as I become at least 75% visible above the bottom of the viewport
    </div>

    <div class="text">
        <p>Illo veniam sequi dolor. Quibusdam corporis earum expedita similique ad necessitatibus enim. Ducimus temporibus sed odio eligendi. Ad velit non qui.</p>
        <p>Dolor neque recusandae eos commodi. Commodi quis corporis consequatur et voluptatem voluptas ut esse. Eveniet et voluptatibus et dolorum harum nemo porro consequatur. Dolorum qui dolorem numquam deleniti est dolores optio voluptatibus. Suscipit consequatur quos non quas. Eos quo harum reprehenderit velit.</p>
        <p>Ut magni id necessitatibus. Optio aperiam eos hic voluptas beatae ratione deserunt fugiat. Et officiis magnam rerum non aut porro ut corrupti.</p>
        <p>Tenetur architecto vel voluptates voluptate ut veniam recusandae. Molestiae rerum totam nulla et vitae doloribus voluptas. Eius sed in eum vel est. Eum quo accusantium totam deserunt ad ut. Vero totam aut molestias.</p>
        <p>Ea illo doloribus occaecati. Nihil sed nemo non quas laudantium. Facere totam ut commodi mollitia iste et expedita. Voluptatem laudantium corrupti rerum corrupti voluptas aut.</p>
        <p>Dolores amet reprehenderit impedit. Aut expedita sint libero consequatur est libero. Rerum qui repellendus id dolore odio enim deserunt. Illo in non amet doloribus sit et. Placeat molestias odit quasi nam quia.</p>
        <p>Tenetur autem aperiam dolor. Tenetur dolor vel eos sit. Molestiae sit quo iure est. Non tempore occaecati hic consequuntur ipsa voluptas.</p>
        <p>Maiores velit suscipit sint fugit illo. Ut eos asperiores quia. Quo a sit eum quisquam. Nisi rerum dolorem tenetur exercitationem eos aliquid.</p>
        <p>At dolor odit ut dolor aliquam corporis officia. Eveniet et inventore quas nostrum omnis. Praesentium fugiat eum aspernatur similique temporibus vitae quod. Id qui vel nesciunt enim fugiat.</p>
        <p>Aperiam illum aliquam sit aliquam et error. Expedita minima et eum deleniti hic quia. Deserunt alias porro est et aut est temporibus sunt. Quia eveniet et non sunt tempore. Ducimus eum fuga debitis dolor sunt maiores. Iure facilis ut et veniam sequi.</p>
    </div>
</section>

<script src="{{ path '/js/components/intersection-observer.js' }}"></script>
