<section id="waapi-within-viewport" class="animate-things-wrapper">
    <button id="trigger">Trigger</button>

    <div id="box" class="box">
        <a href="#">I'm a link!!</a>
    </div>

    <p><a href="#">I'm another link!</a></p>
</section>

<script src="{{ path '/js/components/waapi-within-viewport.js' }}"></script>
