<section id="transition-end-event-chain" class="animate-things-wrapper">
    <button id="trigger">Trigger</button>

    <div id="triggerOne" class="box transition-succession-box-one">
        To the left!
    </div>

    <div id="triggerTwo" class="box transition-succession-box-two">
        To the right!
    </div>

    <div id="triggerThree" class="box transition-succession-box-three">
        Up the middle!
    </div>
</section>

<script src="{{ path '/js/components/transition-end-event-chain.js' }}"></script>
