<section id="show-hide-timing-easing" class="animate-things-wrapper">
    <button id="trigger">Trigger</button>

    <div id="box" class="box">
        Hi there
    </div>
</section>

<script src="{{ path '/js/components/show-hide-timing-easing.js' }}"></script>
