<section class="animate-things-wrapper add-a-class">
    <button id="addClass">Add class</button>

    <div id="box" class="box">
        Hi there
    </div>
</section>

<script src="{{ path '/js/components/add-a-class.js' }}"></script>
